@model UsuarioModel

<div class="col-4">
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <label class="control-label">Empresas Disponíveis</label>
                <select asp-for="IdEmpresaFiltro" asp-items="@Model.Empresas.ToSelectList(nameof(Empresa.IdEmpresa), nameof(Empresa.NomeFantasia))" class="form-control"></select>
            </div>
        </div>
        <div class="col">
            <br />
            <button type="button" class="btn btn-success mt-2" title="Vincular Empresa" onclick="Vincular('@Url.Action(nameof(UsuarioController.VincularEmpresa))')"><i class="fas fa-plus"></i></button>
        </div>
    </div>
</div>
<div class="col-8">
    <label class="control-label">Empresas</label>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>CNPJ</th>
                <th>Nome Fantasia</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Detalhe.Empresas != null)
            {
                foreach (var item in Model.Detalhe.Empresas)
                {
                    <tr>
                        <td>
                            <button type="button" onclick="Desvincular('@Url.Action(nameof(UsuarioController.VincularEmpresa))', @item.IdUsuarioEmp)"
                                    class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Empresa.CNPJ)</td>
                        <td>@Html.DisplayFor(modelItem => item.Empresa.NomeFantasia)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>