@model UsuarioModel


<div class="col-4">
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <label class="control-label">Empresas</label>
                <select id="IdEmpresaPerfilFiltro" asp-items="@Model.EmpresasPerfil.ToSelectList("Empresa.IdEmpresa", "Empresa.NomeFantasia")" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <label class="control-label">Sistemas</label>
                <select id="IdSistemaFiltro" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <label class="control-label">Perfis Disponíveis</label>
                <select id="IdPerfilFiltro" class="form-control"></select>
            </div>
        </div>
        <div class="col">
            <br />
            <button type="button" class="btn btn-success mt-2" title="Vincular Perfil" onclick="VincularPerfil('@Url.Action(nameof(UsuarioController.VincularPerfil))')"><i class="fas fa-plus"></i></button>
        </div>
    </div>
</div>
<div class="col-8">
    <label class="control-label">Perfis</label>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Sistema</th>
                <th></th>
                <th class="border-left">Perfil</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Detalhe.Perfis != null)
            {
                foreach (var item in Model.Detalhe.Perfis)
                {
                    <tr class="border-bottom">
                        <td>
                            <button type="button" onclick="DesvincularPerfil('@Url.Action(nameof(UsuarioController.VincularPerfil))', @item.IdPerfilUsuario)"
                                    class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.PerfilSistema.EmpresaSistema.Sistema.IdSistema)</td>
                        <td>@Html.DisplayFor(modelItem => item.PerfilSistema.EmpresaSistema.Sistema.Nome)</td>
                        <td class="border-left">@Html.DisplayFor(modelItem => item.PerfilSistema.Perfil.IdPerfil)</td>
                        <td>@Html.DisplayFor(modelItem => item.PerfilSistema.Perfil.Descricao)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>