@model PagedList<NaoConformidade>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Código</th>
            <th>Descrição</th>
            <th>Origem</th>
            <th>Status</th>
            <th>Usuário Cadastro</th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.CurrentItens != null)
        {
            foreach (var item in Model.CurrentItens)
            {
        <tr>
            <td>
                @if (SharedValues.UsuarioLogado != null && SharedValues.UsuarioLogado.PerfilUsuario == PUCMinasTCC.Domain.Enums.enumPerfilUsuario.Administrador)
                {
                    <a asp-action="Detalhes" asp-route-id="@item.IdNaoConformidade" class="btn btn-info"><i class="fas fa-edit"></i>Editar</a>
                }
                else
                {
                    <a asp-action="Detalhes" asp-route-id="@item.IdNaoConformidade" class="btn btn-info disabled" aria-disabled="true"><i class="fas fa-edit"></i>Editar</a>
                }
            </td>
            <td>@Html.DisplayFor(modelItem => item.IdNaoConformidade)</td>
            <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
            <td>@Html.DisplayFor(modelItem => item.OrigemNc)</td>
            <td>
                @if (item.Status == PUCMinasTCC.Domain.Enums.enumStatus.Ativo)
                {
                    <span class="status text-success"><i class="fas fa-thumbs-up mr-5">Ativo</i></span>
                }
                else
                {
                    <span class="status text-danger"><i class="fas fa-thumbs-down">Inativo</i></span>
                }
            </td>
            <td>@Html.DisplayFor(modelItem => item.NomeUsuario)</td>
        </tr>
            }
        }
    </tbody>
</table>
<pagination paged-list="@Model" action-link="Pesquisar('@Url.Action("Pesquisar")', #page)" selector-replace="#page"></pagination>

