@model PagedList<Despesa>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Mês/Ano</th>
            <th>CNPJ</th>
            <th>ValorEmpenhado</th>
            <th>ValorLiquidado</th>
            <th>ValorPago</th>
            <th>ValorRestosAPagarPagos</th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.CurrentItens != null)
        {
            foreach (var item in Model.CurrentItens)
            {
                <tr>
                    <td>
                        @if (SharedValues.UsuarioLogado != null && SharedValues.UsuarioLogado.PerfilUsuario == PUCMinasTCC.Domain.Enums.enumPerfilUsuario.Administrador)
                        {
                            <a asp-action="Detalhes" asp-route-id="@item.IdDespesa" class="btn btn-info"><i class="fas fa-edit"></i>Editar</a>
                        }
                        else
                        {
                            <a asp-action="Detalhes" asp-route-id="@item.IdDespesa" class="btn btn-info disabled" aria-disabled="true"><i class="fas fa-edit"></i>Editar</a>
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.IdDespesa)</td>
                    <td>@Html.DisplayFor(modelItem => item.MesAno)</td>
                    <td>@Html.DisplayFor(modelItem => item.CNPJ)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValorEmpenhado)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValorLiquidado)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValorPago)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValorRestosAPagarPagos)</td>
                </tr>
            }
        }
    </tbody>
</table>

<pagination paged-list="@Model" action-link="Pesquisar('@Url.Action("Pesquisar")', #page)" selector-replace="#page"></pagination>

